# Used by Next.js server rendering on the website server
SERVER_API_BASE_URL=http://127.0.0.1:8000/api

NEXT_PUBLIC_API_BASE_URL=https://scholarsrepublic.org/api

# Google AdSense client ID. Example format: ca-pub-XXXXXXXXXXXXXXXX
NEXT_PUBLIC_ADSENSE_CLIENT=
